#successfull{
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: montserrat;
    font-weight: bold;
    color: white;
    background: linear-gradient(120deg,#2980b9, #8e44ad);
    height: 100vh;
    overflow: hidden;
}

#left {
    text-align: left;
}